<!DOCTYPE html>
<html lang="zh" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>index</title>
</head>

<body>

<p>Id: <span sec:authentication="name"></span></p>
<p>Role: <span sec:authentication="authorities"></span></p>

<form th:action="@{/logout}" th:method="POST">
    <input th:type="submit" value="退出"/>
</form>

</body>
<script th:inline="javascript" type="text/javascript">

</script>
</html>